       
body {
    background-color: #eaf7ee;
}
.post {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    border-radius: 10px;
    background-color: #c3e6cb;
    margin-top: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
    z-index: 1;
}
.post:hover {
    transform: translateY(-5px);
}

.row1 {
    display: flex;
    justify-content: space-between;
    background-color: #8bc34a;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}
.row2 {
    display: flex;
    justify-content: center;
    background-color: #c3e6cb;
    padding: 10px;
}
.row3 {
    display: flex;
    background-color: #c3e6cb;
    padding: 10px;
}
.content {
    margin: auto;
    width: 97%;
    border: none;
    resize: none;
    background-color: transparent;
    color: #000000;
    font-size: 16px;
    line-height: 1.5;
}
.row4 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #c3e6cb;
    border-radius: 0 0 10px 10px;
}
.likeAndDislike {
    font-size: 14px;
    color: #333333;
    text-align: right;
}
a {
    text-decoration: none;
    color: #333333;
    transition: color 0.2s;
}
a:hover {
    color: #0e0f0c;
}
.empty {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #333333;
}
.header {
    display: flex;
    justify-content: space-between;
}

.vote {
    border: medium none;
    background-image: none; 
    background: transparent;
    background-color: transparent;   
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.catrow {
    display: block;
}
.logo {
    display: block;
    text-align: center;
}
.logo a{
    color: green;
    font-size: 36px;
    font-weight: bold;
}  
.back, .back1, .dropbtn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #8bc34a;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.back:hover, .dropbtn:hover {
    background-color: #689f38;
}
.back1 {
    background-color: #ff0000;
}
.back1:hover{
    background-color: #850a0a;
}

.cate, .catrow {
    width: 110px;
    padding: 7px 10px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: #013b0e;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.2s;
    text-align: left;
}
.cate:hover, .catrow:hover{
    background-color: #acacac;
}
