
@media (min-width: 700px) {
  .hamburger-menu {
    visibility: hidden;
    position: absolute;
  }
  #logo5 {
    visibility: hidden;
    position: absolute;
  }
}

@media (max-width: 700px) {
    .row1 {
        display: block;
        background-color: #8bc34a;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px 10px 0 0;
    }
    .row4 {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: #c3e6cb;
        border-radius: 0 0 10px 10px;
    }
}


@media (max-width: 700px) {
  .hamburger-menu {
    z-index: 1;
  }
  .header {
  visibility: hidden;
  position: absolute;
}
.menu__box div {
  padding-bottom: 3px;
}
  /* скрываем чекбокс */
#menu__toggle {
opacity: 0;
}/* стилизуем кнопку */
.menu__btn {
display: flex; /* используем flex для центрирования содержимого */
align-items: center;  /* центрируем содержимое кнопки */
position: fixed;
top: 20px;
left: 20px;  width: 26px;
height: 26px;  cursor: pointer;
z-index: 1;
}/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
display: block;
position: absolute;  width: 100%;
height: 2px;  background-color: #616161;
}
.menu__btn > span::before {
content: '';
top: -8px;
}
.menu__btn > span::after {
content: '';
top: 8px;
}
/* контейнер меню */
.menu__box {
display: block;
position: fixed;
visibility: hidden;
top: 0;
left: -100%;  width: 100%;
height: 50px;  margin: 0;
padding: 50px 0;  list-style: none;
text-align: center;  background-color: #ECEFF1;
box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}/* элементы меню */
.menu__item {
display: block;
padding: 12px 24px;  color: #333;  font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 600;  text-decoration: none;
}
.menu__item:hover {
background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
top: 0;
transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
top: 0;
transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
visibility: visible;
left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
transition-duration: .25s;
}.menu__box {
transition-duration: .25s;
}.menu__item {
transition-duration: .25s;
}

}